.card-container{
  display: flex;
  flex-direction: column;
  background-color: lightseagreen;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translate(0);
  transition: transform 0.25 ease-out;
}

.card-container:hover{
  transform: scale(1.05);
}

.avatar-image{
  width: 100px;
  height: 100px;
}